{
"names" : [
{ "mode" : "alts" },
[
{ "mode" : "serie" },
[ { "mode" : "alts" }, Aero", "Amelia", "Denise Marmalade", "Matilda Caskett", "Juno", "Roll Caskett", "Sera", "Shu", "Tron Bonne", "Yuna", "Yōkan", "Ofuton", "Yaito", "Volnutt", "Barrell Caskett", "Glyde", "Verner Von Bluecher", "Lex Loath", "Klaymoor", "Joe", "Johnny" ]
]
]
}
