{
"names" : [
{ "mode" : "alts" },
[
{ "mode" : "serie" },
[ { "mode" : "alts" }, "Alia", "Auto", "Axl", "Bass", "Cinnamon", "Gate", "Iris", "Layer", "Lumine", "Marino", "Proto", "Roll", "Sigma", "Vile", "X", "Zero", "RiCO", "Leviathan", "Alouette", "Phantom", "Fefnir", "Harpuia", "Girouette" ]
]
]
}
